/* From: http://www.cssportal.com/blog/css-animated-underline-links/ */
/*a {
  text-decoration: none;
  position: relative;
  color: gray;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid gray;
  transition: 0.4s;
}

a:hover:after {
  width: 100%;
}*/

.top-bottom-buffer { padding-top: 40px; padding-bottom: 40px;}

#next-move{
  color: #007D77
}

#closing{
  padding-top: 100px;
  padding-bottom: 100px;
  /*background: url('images/closing_background.jpg') no-repeat   center center fixed;*/
  background: url('images/closing_background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#skills{
  /*background: url('images/skills_background.jpg') no-repeat   center center fixed;*/
  background: url('images/skills_background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#skills-text{
  padding-top: 40px;
  padding-bottom: 50px;
}

.paper-row{
  margin-top: 20px;
}

.top10{ margin-top: 10px; }
.top20{ margin-top: 20px; }
.top30{ margin-top: 30px; }
.top40{ margin-top: 40px; }
.top50{ margin-top: 50px; }
.top60{ margin-top: 60px; }
.top70{ margin-top: 70px; }
.top80{ margin-top: 80px; }
.top90{ margin-top: 90px; }
.top100{ margin-top: 100px; }

.left10{ margin-left: 10px; }
.left20{ margin-left: 20px; }
.left30{ margin-left: 30px; }
.left40{ margin-left: 40px; }
.left50{ margin-left: 50px; }
.left60{ margin-left: 60px; }
.left70{ margin-left: 70px; }
.left80{ margin-left: 80px; }
.left90{ margin-left: 90px; }
.left100{ margin-left: 100px; }

.pattern-background{
  /* From http://bg.siteorigin.com/ */
  background-image: url("images/background_pattern.png");
  background-repeat: repeat;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* https://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap */

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#scroll-down {
  color: white;
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.full-vertical-height{
  height:100vh;
}

.background-image{
  /*background: url('images/background.jpg') no-repeat   center center fixed;*/
  background: url('images/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.social {
  padding-right: 10px;
  color: #333333;
}

.social:hover {
  color: black;
}

#custom-bootstrap-menu.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border-width: 0px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid gray;
}

/*#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(248, 248, 248, 0);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(120, 120, 120, 1);
    background-color: rgba(231, 231, 231, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}*/

/* Custom Bootstrap Buttons */

.btn-custom-white {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: darkgray;
}

.btn-custom-white:hover,
.btn-custom-white:focus,
.btn-custom-white:active,
.btn-custom-white.active,
.open .dropdown-toggle.btn-custom-white {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: darkgray;
}

.btn-custom-white:active,
.btn-custom-white.active,
.open .dropdown-toggle.btn-custom-white {
  background-image: none;
}

.btn-custom-white.disabled,
.btn-custom-white[disabled],
fieldset[disabled] .btn-custom-white,
.btn-custom-white.disabled:hover,
.btn-custom-white[disabled]:hover,
fieldset[disabled] .btn-custom-white:hover,
.btn-custom-white.disabled:focus,
.btn-custom-white[disabled]:focus,
fieldset[disabled] .btn-custom-white:focus,
.btn-custom-white.disabled:active,
.btn-custom-white[disabled]:active,
fieldset[disabled] .btn-custom-white:active,
.btn-custom-white.disabled.active,
.btn-custom-white[disabled].active,
fieldset[disabled] .btn-custom-white.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: darkgray;
}

.btn-custom-white .badge {
  color: #00FFFFFF;
  background-color: #ffffff;
}

.btn-custom-black {
  color: #333333;
  background-color: rgba(0, 0, 0, 0.0);
  border-color: black;
}

.btn-custom-black:hover,
.btn-custom-black:focus,
.btn-custom-black:active,
.btn-custom-black.active,
.open .dropdown-toggle.btn-custom-black {
  color: #333333;
  background-color: rgba(0, 0, 0, 0.03);
  border-color: black;
}

.btn-custom-black:active,
.btn-custom-black.active,
.open .dropdown-toggle.btn-custom-black {
  background-image: none;
}

.btn-custom-black.disabled,
.btn-custom-black[disabled],
fieldset[disabled] .btn-custom-black,
.btn-custom-black.disabled:hover,
.btn-custom-black[disabled]:hover,
fieldset[disabled] .btn-custom-black:hover,
.btn-custom-black.disabled:focus,
.btn-custom-black[disabled]:focus,
fieldset[disabled] .btn-custom-black:focus,
.btn-custom-black.disabled:active,
.btn-custom-black[disabled]:active,
fieldset[disabled] .btn-custom-black:active,
.btn-custom-black.disabled.active,
.btn-custom-black[disabled].active,
fieldset[disabled] .btn-custom-black.active {
  background-color: rgba(0, 0, 0, 0.0);
  border-color: black;
}

.btn-custom-black .badge {
  background-color: #ffffff;
}
